<h2>ALTA DE MASCOTAS</h2>

<form (submit)="altaMascota()" action="altaMascota()">
    <label for="nombre" placeholder="Nombre Mascota">Nombre de Mascota</label>
    <input type="text" required autocomplete="off" name="nombre" id="nombre" [(ngModel)]="mascota.nombre">

    <label for="tipo" placeholder="Tipo Mascota">Tipo de Mascota</label>
    <input type="text" required autocomplete="off" name="tipo" id="tipo" [(ngModel)]="mascota.tipo">

    <label for="precio" placeholder="Precio Mascota">Precio de la Mascota</label>
    <input type="text" required autocomplete="off" name="precio" id="precio" [(ngModel)]="mascota.precio">

    <button type="submit">Modificar</button>